
.container{
    display: grid;
    gap: 10px;
    height: 100vh;
    margin: 0;
   
}

.cabecera{
    height: 20vh;
    padding: 10px;
    grid-row: 1;
    grid-column: 1/3;
    background-color: black;
    color: white;
    font-size: larger;
}

.formulario{
    height: 80vh;
    width: 95vh;
    grid-column: 1;
    grid-row: 2;
    display: flexbox;
    flex-direction: column;
    background-color: grey;
    color: white;
    font-size: large;
}

.registros{
    height: 80vh;
    width: 95vh;
    text-align: center;
    padding: 10px;  
    grid-column: 2;
    grid-row: 2;
    background-color: coral;
    color: white;
    font-size: large;
}

.formularioChido{
    display: flex;
    flex-direction: column;
}

