/* Desarrollo Web 1 */
/* Nombre Práctica: Hola Mundo */
/* Autor/a: Flores Mena Adrian Alberto*/
/* Fecha de elaboración: feb 06 2023 */
 
*{
   box-sizing: border-box;
   margin: 10;
   padding: 0;
}

.mx{
    color: red;
    font-size: 62px;
    position: absolute;
      top: 40px; left: 40px;
   z-index: 1;
 }

 .us{
   font-size: 50px;
    color:blue;
    position: absolute;
    z-index: 3;
    top: 80px; left: 80px; }

 .jp{
    color: orange;
    position: absolute;
    top: 90px; left: 90px;
    z-index: 2SS;
    -webkit-text-stroke: 2px rgb(231, 255, 97);
 }

 .it{
   color: green;
   position: absolute;
    top: 100px; left: 250px;
 }

 .hw{
   position: absolute;
    top: 100px; left: 400px;
   color: aqua;
 }

 .ru{
   color: cadetblue;
   position: absolute;
    top: 150px; left: 350px;
 }

 .ko{
   color: brown;
   position: absolute;
    top: 400px; left: 30px;
 }

 .po{
   color: blueviolet;
   position: absolute;
    top: 400px; left: 350px;
 }

 .hi{
   color: burlywood;
   position: absolute;
    top: 120px; left: 550px;
 }

 .he{
   color: crimson;
   position: absolute;
    top: 220px; left: 444px;
 }

 .sw{
   color: darkgoldenrod;
   position: absolute;
    top: 150px; left: 200px;
 }